h1 {
    color: white !important;
}

header{
    background-color: #14172a;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #121526 !important;
    overflow-x: hidden !important;
}

.btn-hover-crimson:hover i {
    color: crimson !important;
}

#submit-button:hover {
    background-color: crimson;
    color: white;
    border-color: crimson;
}